body{
    text-align: center;
    background-color: dimgray;
    font-family: Arial;
}
ul li{
    list-style-type: none;
}
.liste{
    border: 3px solid dimgray ;
    background-color: snow;
    margin-left: 35%;
    margin-right: 35%;
}
